---
import PostList from '@/components/PostList.astro'
import siteConfig from '@/site.config'
import Default from '@layouts/Default.astro'
import kebabCase from 'lodash.kebabcase'

export async function getStaticPaths() {
  const allDifficulties = new Set<string>()
  const contents = await Astro.glob('../*.md')
  const allPosts = contents.filter((p) => p.frontmatter.difficulty?.length > 0)
  allPosts.forEach((post) => allDifficulties.add(post.frontmatter.difficulty))

  return Array.from(allDifficulties).map((difficulty) => {
    const slug = kebabCase(difficulty)
    const filteredPosts = allPosts.filter(
      (post) => post.frontmatter.difficulty === difficulty,
    )
    return {
      params: { slug },
      props: {
        posts: filteredPosts,
        difficulty,
      },
    }
  })
}

const { difficulty, posts } = Astro.props
---

<Default
  title={`${difficulty} - ${siteConfig.title}`}
  headerCssClasses="max-w-xl px-8"
>
  <main class="mx-auto my-8 flex max-w-xl justify-center px-4 md:px-0">
    <div class="flex grow flex-col px-8">
      <h1 class="mx-3 mb-4 text-style-primary">
        Posts by difficulty:
        <span class="badge-default mx-2">
          {difficulty}
        </span>
      </h1>
      <PostList posts={posts} />
    </div>
  </main>
</Default>
