@import "./color_base.css";

--c-light-secondary: var(--color-gray-900);
--c-light-tertiary: var(--color-gray-50);

--color-secondary: var(--c-light-secondary);
--color-tertiary: var(--c-light-tertiary);

--color-site-bg: var(--color-white);
--color-site-header-bg: var(--color-primary);
--color-site-header-border: var(--color-primary);
--color-theme-menu-bg: var(--c-base-text-inverted);
--color-theme-menu-bg-hover: var(--color-gray-100);
--color-theme-menu-text-hover: var(--c-base-fill);

--color-site-header-text-hover: var(--color-gray-300);
--color-site-header-text: var(--c-base-text);
--color-site-title-text: var(--c-base-text-inverted);
--color-style-link-hover-text: var(--color-pink-500);
--color-style-link-text: var(--color-blue-500);
--color-style-primary-bg: var(--c-base-fill);
--color-style-secondary-bg: var(--c-base-text);
--color-style-secondary-inverted-bg: var(--c-base-text-inverted);
--color-style-primary-border: var(--c-base-fill);
--color-style-primary-inverted-text: var(--c-base-text-inverted);
--color-style-primary-text: var(--c-base-text);
--color-style-secondary-border: var(--c-base-text);
--color-style-secondary-inverted-border: var(--c-base-text-inverted);
--color-style-secondary-text: var(--c-base-fill);

--color-difficulty-easy-bg: var(--c-leetcode-easy);
--color-difficulty-easy-border: var(--c-leetcode-easy);
--color-difficulty-easy-text: var(--c-base-text);
--color-difficulty-easy-hover-bg: var(--c-base-text);
--color-difficulty-easy-hover-border: var(--c-leetcode-easy);
--color-difficulty-easy-hover-text: var(--c-leetcode-easy);
--color-difficulty-medium-bg: var(--c-leetcode-medium);
--color-difficulty-medium-border: var(--c-leetcode-medium);
--color-difficulty-medium-text: var(--c-base-text);
--color-difficulty-medium-hover-bg: var(--c-base-text);
--color-difficulty-medium-hover-border: var(--c-leetcode-medium);
--color-difficulty-medium-hover-text: var(--c-leetcode-medium);
--color-difficulty-hard-bg: var(--c-leetcode-hard);
--color-difficulty-hard-border: var(--c-leetcode-hard);
--color-difficulty-hard-text: var(--c-base-text);
--color-difficulty-hard-hover-bg: var(--c-base-text);
--color-difficulty-hard-hover-border: var(--c-leetcode-hard);
--color-difficulty-hard-hover-text: var(--c-leetcode-hard);
