@theme {
  --c-leetcode-easy: #00af9b;
  --c-leetcode-medium: #ffb800;
  --c-leetcode-hard: #ff2d55;
  --c-base-fill: var(--color-primary);
  --c-base-text: var(--color-secondary);
  --c-base-text-inverted: var(--color-tertiary);
  --color-primary: #ffa116;
}
