@tailwind base;
@tailwind components;
@tailwind utilities;

%link {
  @apply no-underline text-orange-500 hover:text-blue-500;
}

a {
  @extend %link;
}

a.no-hover {
  @apply hover:text-orange-500;
}

.text-default {
  @apply text-black dark:text-white;
}

/* Post CSS */
.post {
  @apply flex flex-col max-w-5xl mx-auto;
}

/* Prose CSS */
.prose {
  @apply transition duration-150 ease-in w-full max-w-5xl text-default;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  img {
    @apply mt-0 mb-3;
  }

  a {
    @extend %link;
  }

  li:has(> a.new) {
    list-style-type: '\2610';
    padding-inline-start: 1ch;

    &::marker {
      @apply pt-1 text-gray-500 ;
    }
  }

  li:has(> a.internal:not(.new)) {
    list-style-type: '\2611';
    padding-inline-start: 1ch;

    &::marker {
      @apply pt-1 text-green-500;
    }
  }

  a.new {
    @apply text-gray-500;
  }

  a.internal:not(.new) {
    @apply text-green-500 hover:text-orange-500;

    &::after {
      content: ' \2192';
    }
  }
}
