---
import kebabCase from "lodash.kebabcase";
import Default from "@layouts/Default.astro";
import siteConfig from "@/site.config";
import PostList from "@/components/PostList.astro";

export async function getStaticPaths() {
  const allTags = new Set<string>();
  const contents = await Astro.glob("../*.md");
  const allPosts = contents.filter((p) => p.frontmatter.tags?.length > 0);
  allPosts.forEach((post) =>
    post.frontmatter.tags?.forEach((t: string) => allTags.add(t))
  );

  return Array.from(allTags).map((tag) => {
    const slug = kebabCase(tag);
    const filteredPosts = allPosts.filter((post) =>
      post.frontmatter.tags?.includes(tag)
    );
    return {
      params: { slug },
      props: {
        posts: filteredPosts,
        tag,
      },
    };
  });
}

const { tag, posts } = Astro.props;
---

<Default title={`${tag} - ${siteConfig.title}`} headerCssClasses="max-w-xl px-8">
  <main class="flex justify-center max-w-xl mx-auto my-8 px-4 md:px-0">
    <div class="flex flex-col grow px-8">
      <h1 class="text-style-primary mx-3 mb-4">
        Posts by tag: <span class="badge-default mx-2">{tag}</span>
      </h1>
      <PostList posts={posts} />
    </div>
  </main>
</Default>
