---
import Default from "@layouts/Default.astro"

const title = "404 Not found"
const description = "404 Error, probably not found..."
---

<Default title={title} description={description}>
  <section class="flex flex-col justify-center items-center" style="height: calc(100vh - 250px);">
    <h1 class="text-3xl mb-3">{title}</h1>
    <p class="mb-3">{description}</p>
    <a class="font-semibold" href="/">Go Home</a>
  </section>
</Default>
