---
import Default from "@layouts/Default.astro"
---

<Default title="404 - Not found" description="404 Error, probably not found..">
  <section class="flex flex-col justify-center items-center" style="height: calc(100vh - 101px);">
    <h1 class="text-3xl mb-3">404 Not found</h1>
    <a class="font-semibold" href="/">Go Home</a>
  </section>
</Default>
