---
import { getCollection } from 'astro:content'

import LeetCodeDifficulty from '@/components/LeetCodeDifficulty.astro'
import PostList from '@/components/post/PostList.astro'
import siteConfig from '@/configs/site'
import AppLayout from '@/layouts/AppLayout.astro'

const { title, description, author } = siteConfig

const posts = await getCollection('leetcode-solutions')
---

<AppLayout
  title={title}
  description={description}
  author={author.name}
  headerCssClasses="max-w-xl px-8"
>
  <main class="mx-auto my-4 p-4 max-w-xl text-site-header-text">
    <div class="grid grid-flow-col auto-cols-max gap-2 m-4 justify-center">
      <LeetCodeDifficulty difficulty="Easy" href="/difficulties/easy">
        Easy
      </LeetCodeDifficulty>
      <LeetCodeDifficulty difficulty="Medium" href="/difficulties/medium">
        Medium
      </LeetCodeDifficulty>
      <LeetCodeDifficulty difficulty="Hard" href="/difficulties/hard">
        Hard
      </LeetCodeDifficulty>
    </div>
    <PostList posts={posts} />
  </main>
</AppLayout>
