---
import siteConfig from '@/site.config'
const { title, description } = siteConfig
---
<header class="my-4">
  <h1 class="text-xl text-center uppercase font-semibold">
    <a href="/">{title}</a>
  </h1>
  <h2 class="text-center italic">{description}</h2>
  <hr class="my-4"/>
</header>
