---
import Icon from './Icon.astro'
import ThemeSelector from '@/components/ThemeSelector.astro'
import siteConfig from '@/site.config'

export interface Props {
  cssClasses: string
}

const { cssClasses = '' } = Astro.props
const { title, description, author, themes } = siteConfig
---

<div class="header-container">
  <div
    class:list={[
      'header mx-auto flex justify-between items-center',
      cssClasses,
    ]}
  >
    <div class="header-meta mr-3 flex">
      <div class="header-logo mr-3">
        <a href="/">
          <img
            src={author.avatar}
            alt="Author's avatar"
            class="rounded-full"
            style="margin-bottom: 0 !important;"
            width="56"
            height="56"
          />
        </a>
      </div>
      <div class="flex flex-col">
        <h1 class="text-xl font-semibold uppercase">
          <a href="/" class="site-title">{title}</a>
        </h1>
        <h2 class="site-description">{description}</h2>
      </div>
    </div>
    <div class="header-button flex items-center">
      <a href="/rss.xml" class="header-icon">
        <Icon name="bi:rss-fill" size={20} clazz="ml-2" />
      </a>
      <ThemeSelector
        themes={themes}
        fallbackLightTheme="leetcode-light"
        fallbackDarkTheme="leetcode-dark"
        iconClass="header-icon"
      />
    </div>
  </div>
</div>

<style lang="scss">
  @import '../assets/scss/functions/color';

  .header-container {
    @apply sticky top-0 z-50 border-b px-4 py-4 md:px-7;
    @include color('background-color', --theme-color-site-header-bg);
    @include color('border-bottom-color', --theme-color-site-header-border);
  }
  .site-title {
    @include color('color', --theme-color-site-title);
    &:hover {
      @include color('color', --theme-color-site-header-text-hover);
    }
  }
  .site-description {
    @apply text-sm italic md:text-base;
    @include color('color', --theme-color-site-header-text);
  }
</style>
