---
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
import '@/assets/css/app.scss'

export interface Props {
  title: string
  headerCssClasses: string
}

const { title, headerCssClasses = '' } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="max-w-8xl mx-auto bg-white dark:bg-zinc-900">
    <Header cssClasses={headerCssClasses} />
    <slot />
    <Footer />
  </body>
</html>
