---
import Default from "./Default.astro";
import PostHeader from "@components/PostHeader.astro";
import Breadcrumb from "@components/Breadcrumb.astro";
import type { UnionPostFrontMatter } from "@/types";

export interface Props {
  frontmatter: UnionPostFrontMatter
}

const { frontmatter } = Astro.props;
---

<Default
  headerCssClasses="max-w-5xl"
  title={frontmatter.title}
  description={frontmatter.title}
  keywords={[...(frontmatter.keywords || []), ...(frontmatter.tags || [])]}
>
  <article class="post px-4 xl:px-0 my-8">
    <Breadcrumb items={[{ icon: "", title: frontmatter.title, url: "" }]} />
    <PostHeader {...frontmatter} />
    <div class="p-4 border rounded prose dark:prose-invert">
      <slot />
    </div>
  </article>
</Default>
