---
import Default from './Default.astro'
import type { UnionPostFrontMatter } from '@/types'
import Breadcrumb from '@components/Breadcrumb.astro'
import PostHeader from '@components/PostHeader.astro'

export interface Props {
  frontmatter: UnionPostFrontMatter
}

const { frontmatter } = Astro.props
---

<Default
  headerCssClasses="max-w-5xl"
  title={frontmatter.title}
  description={frontmatter.title}
  keywords={[...(frontmatter.keywords || []), ...(frontmatter.tags || [])]}
>
  <article class="post my-8 px-4 xl:px-0">
    <Breadcrumb items={[{ icon: '', title: frontmatter.title, url: '' }]} />
    <PostHeader {...frontmatter} />
    <div class="prose rounded border p-4">
      <slot />
    </div>
  </article>
</Default>
