---
layout: "{{{layout}}}"
title: "{{{title}}}"
slug: "{{{slug}}}"
author: "{{{author}}}"
pubDate: "{{{pubDate}}}"
difficulty: "{{{difficulty}}}"
{{#tags.length}}
tags:
{{#tags}}
- "{{{name}}}"
{{/tags}}
{{/tags.length}}
---
## Problem

## Analysis

## Approaches

### Approach 1

#### Approach

#### Solutions

#### Complexity

## References
